<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"bohoma/archive-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:columns {"align":"wide","className":"wp-block-sidebar-on-right"} -->
        <div class="wp-block-columns alignwide wp-block-sidebar-on-right">
            <!-- wp:column {"width":"68.57142857142857%"} -->
            <div class="wp-block-column" style="flex-basis:68.571428571429%">
                <!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide"} -->
                <div class="wp-block-query alignwide">
                    <!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|80"}}} -->
                    <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","align":"wide","style":{"spacing":{"margin":{"bottom":"0"}}}} /-->

                    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"secondary"} -->
                    <div class="wp-block-group alignwide has-secondary-background-color has-background"
                        style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)">
                        <!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"right":"0px","bottom":"0px","left":"0px","top":"0px"}},"typography":{"lineHeight":"1.41"}}} /-->

                        <!-- wp:group {"style":{"spacing":{"margin":{"top":"14px","bottom":"0"}}},"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
                        <div class="wp-block-group wp-block-post-meta" style="margin-top:14px;margin-bottom:0">
                            <!-- wp:post-date {"isLink":true} /-->

                            <!-- wp:post-author {"showAvatar":false,"isLink":true} /-->

                            <!-- wp:post-terms {"term":"category"} /-->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"28px"}}}} /-->
                    </div>
                    <!-- /wp:group -->
                    <!-- /wp:post-template -->

                    <!-- wp:query-pagination {"align":"full","layout":{"type":"flex","justifyContent":"center"}} -->
                    <!-- wp:query-pagination-previous {"fontSize":"small"} /-->

                    <!-- wp:query-pagination-next {"fontSize":"small"} /-->
                    <!-- /wp:query-pagination -->
                </div>
                <!-- /wp:query -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"25.71428571428571%","className":"wp-block-column-sidebar"} -->
            <div class="wp-block-column wp-block-column-sidebar" style="flex-basis:25.714285714286%">
                <!-- wp:template-part {"slug":"sidebar","theme":"bohoma","tagName":"div"} /-->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","tagName":"footer"} /-->
