<!-- wp:template-part {"slug":"header-default-with-banner" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"bohoma/brands-showcase"} /-->
    <!-- wp:pattern {"slug":"bohoma/services-default"} /-->
    <!-- wp:pattern {"slug":"bohoma/hero-content-default"} /-->
    <!-- wp:pattern {"slug":"bohoma/featured-content-default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","tagName":"footer"} /-->
