<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"online-shopping/product-banner"} /-->
	<!-- wp:pattern {"slug":"online-shopping/our-services"} /-->
	<!-- wp:pattern {"slug":"online-shopping/women-collection"} /-->
	<!-- wp:pattern {"slug":"online-shopping/banner-ads"} /-->
	<!-- wp:pattern {"slug":"online-shopping/subscribe-us"} /-->
	<!-- wp:pattern {"slug":"online-shopping/latest-blog"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

