@media(min-width:768px){
	.is-style-left-featured-image .wp-block-post-template:not(.is-flex-container):not(.is-layout-grid) .wp-block-post-featured-image {
		float: right;
		margin-left: 2rem;
		margin-right: 0;
	}
}